.layout {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    padding: 20px;

    &-logo {
      cursor: pointer;
      width: 120px;
    }

    &-routing {
      display: flex;
      gap: 30px;

      &-link {
        border-bottom: 1px solid inherit;

        &__active {
          border-bottom: 1px solid #ffffff;
        }
      }
    }
  }
}
